.body-div{
    height: 90vh;
    
} 
.box-content{
    content: "";
    background: url('/src/images/bgDesktop.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1;
}